From Wikipedia, the free encyclopedia
This article is about the academic discipline. For a general history of human beings, see Human history. For other uses, see History (disambiguation).

Herodotus (c. 484 – c. 425 BC) has been considered the "father of history" in the Western world.
History (derived from Ancient Greek ἱστορία (historía) 'inquiry; knowledge acquired by investigation')[1] is the systematic study and documentation of the human past.[2][3]

The period of events before the invention of writing systems is considered prehistory.[4] "History" is an umbrella term comprising past events as well as the memory, discovery, collection, organization, presentation, and interpretation of these events. Historians seek knowledge of the past using historical sources such as written documents, oral accounts, art and material artifacts, and ecological markers.[5] History is incomplete and still has debatable mysteries.

History is an academic discipline which uses a narrative to describe, examine, question, and analyze past events, and investigate their patterns of cause and effect.[6][7] Historians debate which narrative best explains an event, as well as the significance of different causes and effects. Historians debate the nature of history as an end in itself, and its usefulness in giving perspective on the problems of the present.[6][8][9][10]

Stories common to a particular culture, but not supported by external sources (such as the tales surrounding King Arthur), are usually classified as cultural heritage or legends.[11][12] History differs from myth in that it is supported Historians write in the context of their own time, and with due regard to the current dominant ideas of how to interpret the past, and sometimes write to provide lessons for their own society. In the words of Benedetto Croce, "All history is contemporary history". History is facilitated by the formation of a "true discourse of past" through the production of narrative and analysis of past events relating to the human race.[22] The modern discipline of history is dedicated to the institutional production of this discourse.

All events that are remembered and preserved in some authentic form constitute the historical record.[23] The task of historical discourse is to identify the sources which can most usefully contribute to the production of accurate accounts of past. Therefore, the constitution of the historian's archive is a result of circumscribing a more general archive by invalidating the usage of certain texts and documents (by falsifying their claims to represent the "true past"). Part of the historian's role is to skillfully and objectively use the many sources from the past, most often found in the archives. The process of creating a narrative inevitably generates debate, as historians remember or emphasize different events of the past.[24]

The study of history has sometimes been classified as part of the humanities, other times part of the social sciences.[25] It can be seen as a bridge between those two broad areas, incorporating methodologies from both. Some historians strongly support one or the other classification.[26] In the 20th century the Annales school revolutionized the stud